
.input_label {
    display: block;
    background-color: white;
}

.label-text {
    display: block;
    margin-bottom: 10px;
    margin-left: 10px;
}

.input_error {
    display: block;
    color: red;
    font-size: 12px;
}